body{
  background-color: #4c33b1;
  font-family: 'zigregular';
  color: #f3f3f5;
}

@font-face {
  font-family: 'zigregular';
  src: url('zig_____.woff2') format('woff2'),
       url('zig_____.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.board {
	position: absolute;
	border: 2px solid #73B1B7;
}

.top {
	width: 320px;
	height: 320px;
	background: #6ac1c1;
	border-left: 2px dotted #4429a6;
	border-bottom: 2px dotted #4429a6;
  margin: 0 auto;
  position: relative;
}

.bottom {
	width: 320px;
	height: 320px;
	margin-top: 25px;
	background: #6ac1c1;
	border-left: 2px dotted #4429a6;
	border-bottom: 2px dotted #4429a6;
}

.gridd {
	position: absolute;
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,0);
	margin-left: 30px;
  font-size: 0;
  margin: 0;
  padding: 0;
  left: 23px;
}

.left, .right{
  padding: 0;
}

.center{
  border: 2px solid #73B1B7;
  padding: 15px;
}

.center form input{
  width: 100%;
}

.aTops {
	width: 29px;
	height: 29px;
	border-top: 2px dotted #4429a6;
	border-right: 2px dotted #4429a6;
	display: table-cell;
	vertical-align: middle;

	font-weight: bold;
	color: white;
	text-align: center;
}

.aLeft {
	position: relative;
	width: 29px;
	height: 29px;
	border-top: 2px dotted #4429a6;
	border-right: 2px dotted #4429a6;
	display: block;
	line-height: 29px;

	font-weight: bold;
	color: white;
	text-align: center;
}

.points {
	position: relative;
	width: 29px;
	height: 29px;
	border-top: 2px dotted #4429a6;
	border-right: 2px dotted #4429a6;
	display: inline-block;
}

.points:hover, .points.active{
  background-color: #b00;
}

.highlight {
	background: rgba(144,144,144,0.9);
}

.hidezero {
	color: #6ac1c1;
}

.hole {
	position: relative;
	width: 10px;
	height: 10px;
	margin: 9px;
	border: 2px dotted #4429a6;
	border-radius: 50%;
	display: table;
}


.panel {
	float: right;
	width: 275px;
	height: 740px;
	margin-top: 25px;
}

.ships{
  margin-top: 5px;
}

.ship{
  cursor: pointer;
}

.ship span{
  display: inline-block;
  padding: 10px 17px;
}

.ship.active span, .ship:hover span{
  background-color: #b00
}